body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/connect.png);
}

thead {
  border-bottom: 1px solid #000000;
  background-color: #d3d3d3
}

tr {
  border-top: 1px solid #000000;
}

#jumbotron{
  text-align: center;
  background-color: #0c2739;
  height: 350px;
}

.panel-heading {
  background-color: #0c2739;
  padding: 10px;
  color: #b59d7c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.panel-primary {
  background-color: #ffffff;
}

#logo {
  margin: -20px;
  width: 500px;
}


#add-train {
  background-color: #0c2739;
  color: #b59d7c;
}

.container-fluid {
  margin-bottom: 25px;
}
