body {
  font-family: 'Montserrat', sans-serif;
}

thead {
  border-bottom: 1px solid #000000;
  background-color: #d3d3d3
}

tr {
  border-top: 1px solid #000000;
}

#jumbotron{
  text-align: center;
  background-color: #0c2739;
  height: 350px;
}

.panel-heading {
  background-color: #0c2739;
  padding: 10px;
  color: #ffffff;
}

#logo {
  margin: -20px;
  width: 500px;
}


/* Form */
